:root {
  /* --black: #191720; */
  --black: #1a1a1c;
  --dark-grey: #29282c;
  --grey: #9d9ca0;
  /* --grey: #8e8d91da; */
  --light: #d9d9d9;
  /* --green: #bfa89e; */
  --green: #d9bbb2;
}
html {
  scroll-behavior: smooth;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1 {
  font-size: 4rem;
  font-family: "Inria Sans", sans-serif;
  color: var(--light);
}

a {
  text-decoration: none;
  color: var(--grey);
  position: relative;
  transition: width 0.25s ease-out;
  display: inline-flex;
}

a:hover {
  color: var(--green);
  transition: width 0.25s ease-out;
}
a::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -2px;
  width: 0;
  height: 2px;
  background-color: var(--green);
  transition: width 0.25s ease-out;
}

a:hover::before {
  width: 100%;
  transition: width 0.25s ease-out;
}

h2 {
  color: var(--light);
  font-size: 2rem;
  line-height: 4rem;
}

html,
body,
#root {
  color: var(--light);
  overflow-x: hidden;
  scrollbar-color: var(--dark-grey) var(--black);
  scrollbar-width: thin;
}

.section {
  width: 100vw;
  height: 90vh;
  /* margin: 0 0 15% 0; */

  display: flex;
  justify-content: center;
  align-items: center;
}
.container {
  width: 55%;
}

body {
  background: var(--dark-grey);
}

#root {
  display: flex;
  justify-content: center;
}

body,
input,
button,
textarea {
  font: 400 1.6rem Inria Sans;
  color: var(--light);
}
button {
  cursor: pointer;
}

@media (max-width: 700px) {
  :root {
    font-size: 60%;
  }
}

@media (max-width: 768px) {
  .container {
    width: 85%;
  }
}

/* ANIMATIONS */

@keyframes slide {
  0% {
    transform: translateX(-150px);
    opacity: 0;
  }
  50% {
    transform: translateX(0px);
    opacity: 1;
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}

@keyframes linearwipe {
  from {
    width: 0;
    opacity: 0;
  }
}
